body {
    background-color: #E5EEF4;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  .flexBox::-webkit-scrollbar {
    display: none;
  }
  
  .nav-pills .nav-link {
    font-size: medium;
    padding: 3px 10px !important;
  }
  
  .nav-pills .nav-link.active {
    background-color: #72b4ca !important;
    /* padding: 0px 10px !important; */
    border-radius: 50px;
  }
  
  .dropdown-item {
    cursor: pointer;
  }
  
  .dbba {
    padding: 0.5rem;
  }
  
  .dbba:hover {
    /* background-color: #ecf9fe; */
    cursor: pointer;
  }
  .dropdown-menu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.bookingForm .dropdown-menu {
    display: none; /* Initially hidden */
}

.roomGuestToggle {
    cursor: pointer;
}
.room-summary {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;  
  display: none; 
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  background: white;
  width: 300px; 
  padding: 15px;
}

.roomGuestToggle {
  cursor: pointer; }
  
  #dateSelectorContainer {
    display: none; /* Hide the datepicker container by default */
    position: absolute; /* Set position to relative for absolute positioning */
  }

  .closeButton {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      transform: translate(5px,-30px);
  }